<h1>New User</h1>

<%= form_with model: @touans, url: touans_path, local: true do |form| %>
  <% @touans.collection.each do |user|%>
    <%= fields_for 'touans[]', user do |field| %>
      <div class="field">
        <%= field.label :kaito %>
        <%= field.text_field :kaito %>
      </div>

      
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', touans_path %>